  <div style="display: flex;">
    <div class="container">
      <ng-template [ngIf]="movieId >= '1' && movieId <= '8'">
        <img [src]="movies[+movieId-1].posterUrl" alt="Movie Poster">
        <h4 style="margin-top: 10px; font-family: cursive; font-size: 25px; font-weight: bold; color: rgb(255, 128, 0);">{{movies[+movieId-1].title}}</h4>
        <p>{{movies[+movieId-1].dis}}</p>
      </ng-template>
    </div>
    <div style="width: 50%; padding: 20px;">
      <div style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let seat of seats; index as i" [class.selected]="seat.selected" class="box" (click)="book(i)"></div>
      </div>
      <button type="submit" [disabled]="!selected()" (click)="returnToDashboard()">Book Ticket</button>
    </div>
  </div>

  
  